<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="<%= BASE_URL %>img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Dashboard</title>
  <link href="<%= BASE_URL %>vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="<%= BASE_URL %>vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="<%= BASE_URL %>css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">RuangAdmin</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
     
      <hr class="sidebar-divider">
     
      <li class="nav-item">
        <a class="nav-link" href="<%= BASE_URL %>users">
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link" href="users">
          <i class="fas fa-fw fa-users"></i>
          <span>Driver</span>
        </a>
      </li>
      <hr class="sidebar-divider">
     
     
      
    </ul>